


/* TripList.css */
.table {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 80%;
  margin: 20px auto 100px;
  text-align: center;
  border-collapse: collapse;
  width: 80%;
  font-size: 20px; /* Increase font size */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
.table th{
  padding: 5px;
  text-align: center;
  font-size:x-large;
  font-family: Georgia;
  font-weight: lighter;
}
 .table td {
  border-top: 4px solid #ddd; /* Only horizontal border on the right side */
  padding: 5px;
  text-align: center;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th {
  background-color: slategrey;
  color: white;
  font-weight: bold; /* Make header text bold */
}

.p{
  font-size: xx-large;
  text-align: center;
}

.h1{
  text-align: center;
}  
  .sort-button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    margin: 0;
    line-height: 1;
    font-size: 15px;
    color: black;
    cursor: pointer;
    transition: transform 0.05s ease-out;
  }
  
  .sort-reverse {
    transform: rotate(180deg);
  }