body {
    background: linear-gradient(90deg, #81e4fd 0%, #009EDB 100%);
  }
  
  .mop {
    /* width: 360px; */
    padding: 4% 0 0;
    margin: auto;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  
  .mopForm {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 10px;
    width: 900px;
    max-width: 800px;
    margin: 0 auto 100px;
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    text-align: center;
  }
  
  .mopForm input {
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Comfortaa', sans-serif;
  
  }
  
  .mopForm input:focus {
    background: #dbdbdb;
  }
  

  
  .mopForm span {
    font-size: 60px;
    color: #000106a6;
    margin-bottom: 25px;
    display: block;
  }
  
  .mopForm p.error {
    margin: 0px 0 10px 70px;
    text-align: left;
    font-size: 10px;
    color: red;
  }
  .mop-heading {
   
      display: flex;
      align-items: center;
    }
    
    .images {
      margin-left: 85%;   
      width: 80px;
      height: 80px;
    }

    .mopbutton {
      font-family: 'Comfortaa', sans-serif;
      text-transForm: uppercase;
      outline: 0;
      background: #009E60;
      width: 30%;
      border: 0;
      border-radius: 15px;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      position: centre;
    }
    
    .mopbutton:active {
      background: orange;
    }
    
    
    