
.login__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.login__control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}


    .login__control label {
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: block;
    }

    .login__control input {
        font: inherit;
        padding: 0.5rem;
        border-radius: 6px;
        border: 1px solid #ccc;
        width: 15rem; /* Adjust the width value to your desired length */
        max-width: 100%;
        transition: border-color 0.3s ease-in-out;
        align-content: center
    }

        .login__control input:focus {
            outline: none;
            border-color: #6c63ff;
        }

.login__actions {
    text-align: center;
    margin-top: 1.5rem;
}

    .login__actions button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        background-color: #6c63ff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        align-content:center
    }

        .login__actions button:hover {
            background-color: #5a50d6;
        }
